
* {
    margin: 0;
    padding: 0
}

*,
:after,
:before {
    box-sizing: border-box
}
html {
    scroll-behavior: smooth;
}
a,
a:hover {
    transition: .3s;
    text-decoration: none
}

button,
input,
input:hover {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

p {
    margin: 0;
    padding: 0
}

img {
    vertical-align: middle;
    border: none
}

ol,
ul {
    list-style: none
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0;
    padding: 0
}



body {
    font-family: Arial;
    color: gray
}

:root {
    --all-color1: #FF8A52;
    --all-color2: #2f2f2f;
    --all-color3: #567A45;
    --gray-color: gray;
    --rgba-dark: rgba(0, 0, 0, .5)
}
